
.paperStyle {
    padding: 20px;
    height: 70vh;
    width: 300px;
    margin: 70px auto;
    background-color: white;
}

.avatarStyle {
    margin: 0 130px 0;
    background-color: blue;
}

.textFieldStyle {
    margin-top: 20px;
}

.buttonStyle {
    margin-top: 20px;
    margin-bottom: 20px;
}
